*{
    padding: 0px;
    margin: 0px;
}
#header{
    background-image: url("Images/background.png");
    background-repeat: no-repeat;
}
 .container{
    width:100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
 }

/* 1.Nav Bar*/
.logo{
    color:#4C0033;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    padding : 0 100px;
    font-weight: bold;
    font-family: 'Sacramento', cursive;
}
nav{
    display: flex;
    background-color: #FFF5E4;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 10px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px ;
   
}
nav ul li a{
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color:#4C0033;
    font: 18px;
    border-radius: 5px ;
    font-weight: 600px;
    padding: 8px 10px;
    transition: 0.5s;
}
nav ul li a:hover{
    color:black;
}
.menu-btn i{
    color:#4C0033;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

/*2.Title Page*/
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0 ;
}
.col-1{
    flex-basis:50%;
    position: relative;
    margin-left: 70px;
    margin-top: 20px;
}
.col-1 h1{
    font-family: 'EB Garamond', serif;
    font-size:54px;
    color:#4C0033 ;
}
.col-1 h3{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    color:#4C0033;
    font-weight: 400;
    margin:20px 0 10px;
}
.wrapper{
   display:flex ; 
}
.wrapper .static-txt{
    font-family: 'EB Garamond', serif;
    color:#4C0033;
    font-size: 30px ;
    font-weight: 600;
    margin-right: 20px;
}
.warpper .dynamic-text{
    font-family: 'EB Garamond', serif;
    margin-left: 30px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamic-text li{
    font-family: 'EB Garamond', serif;
    color: #4C0033;
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    top:0;
    position: relative;
}
.dynamic-text li span{
    position: relative;
}
.dynamic-text li::after {
    content: "";
    position: absolute;
    height: 100% ;
    width: 100%;
    left:0;
    background-color: #fff;
    border-left: 2px solid black;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    40%,
    60%{
        left: calc(100% + 30px)
    }
    100%{
        left:0;
    }
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right,#EE6983 ,#EC7272);
    border-radius: 6px;
    cursor: pointer;
}
.col-1::after{
    content: '';
    width:10px;
    height: 100%;
    background: linear-gradient(#fb5283,#ff3527);
    position: absolute;
    left:-40px;
    top:8px;
}
.col-2{
    position: relative ;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .girl{
    width: 75%;
    padding-left: 250px;
    padding-top: 170px;
    z-index: 1;
}
.col-2 .background{
    position: absolute;
    width:80%;
    height: 45%;
    padding-bottom: 250px;
    padding-left: 50px;
}
.col-2 .girl{
    -webkit-animation: floating-animation 6s ease-in-out infinite;
    -o-animation: floating-animation 6s ease-in-out infinite;
    animation: floating-animation 6s ease-in-out infinite;
}
.col-2 .background{
    -webkit-animation: floating-animation 6s ease-in-out infinite;
    -o-animation: floating-animation 6s ease-in-out infinite;
    animation: floating-animation 6s ease-in-out infinite;
}
@keyframes floating-animation {
    
    
    0%{
        -webkit-animation: translateY(0px) ;
        -moz-transform: translateY(0px) ;
        -ms-transform:translateY(0px) ;
        -o-transform:translateY(0px) ;
        transform:translateY(0px) ;
    }
    50%{
        -webkit-animation: translateY(-20px) ;
        -moz-transform: translateY(-20px) ;
        -ms-transform:translateY(-20px) ;
        -o-transform:translateY(-20px) ;
        transform:translateY(-20px) ;
    }
    100%{
        -webkit-animation: translateY(0px) ;
        -moz-transform: translateY(0px) ;
        -ms-transform:translateY(0px) ;
        -o-transform:translateY(0px) ;
        transform:translateY(0px) ;
    }
    
}
/*3.About Me*/
.container-2{
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 50vh;
   
}
.about{
    color: #4C0033 ;
    background-image: linear-gradient(to right,  #FFC4C4,#EE6983);
    font-weight: 500;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 4px;
    margin-left: -0.5rem;
    padding-top: 30px;
    font-size: 30px;
}
.col-3{
    flex-basis:50%;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 0;
    padding-bottom: 0;
}
.col-4{
    flex-basis:50%;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 0;
    padding-bottom: 0;

}
.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0 ;
}
.profile{
    width: 300px;
    height: 300px;
}

/*4.Skills*/
.container-3{
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 50vh;
    padding-top:-23px
       
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
}
.skill-row h1{
    font-family: 'EB Garamond', serif;
    color: #A10035;
}
.skill-row p{
    font-family: 'Roboto Slab', serif;
    line-height: 2;
}
.skill-row h3{
    color: #4169e1;
}
.skill_1 {
    width: 25%;
    text-align: center;
    float: left;
    clear: right;
    padding-right: 30px;
}
.data {
    width: 25%;
    text-align: center;
    float: right;
    clear: left;
    padding-left: 30px;
}
.lang {
    width: 25%;
    text-align: center;
    float: left;
    clear: right;
 }
  
  
/*Google Maps*/
ul {
    list-style: none;
}
iframe{
    width: 150%;
    height: 100%;
}
/*Footer*/
.container_4{
    width:100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 8%;
    overflow: hidden;
 }
 .footer{
    background-color: #fb5283;
}
.row_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0 ;
}
.footer-col_1{
    flex-basis:50%;
    position: relative;
    margin-left: 70px;
    margin-top: 20px;
}
.footer-col_2{
    width: 25%;
    display: flex;
}
.footer-col_3{
     width: 25%;
     display: flex;
}

  /* Responsive Website*/
@media (max-width:850px) {
    nav ul{
        position: relative;
        top:80px;
        left: -100%;
        height: 30vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        background-color:#FFF5E4;
    }
    nav ul li{
        margin: 10px 0;
    }
    nav ul li a{
        font-size: 100%;;
        display: block;
    }
    .menu-btn i{
        display: block;
    }
    #click:checked~ul{
      left: 0%;  
    }
    #click{
        display: none;
    }
    .row{
        flex-direction: column-reverse;
        align-content: center;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
        align-content: center;
    }
    .col-2 .girl{
        position: relative;
        width: 77%;
        align-content: center;
    }
    .col-2 .background{
        width: 77%;
        align-content: center;
    }
}
